<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <a href="{{post.url}}" class="lead">{{post.title}}</a>
    <p>{{post.summary}}</p>
    <form method="POST" action="/posts/{{post._id}}/comments">
      <textarea class='form-control' name="content" placeholder="Comment"></textarea>
      <div class="text-right">
        <button type="submit">Save</button>
      </div>
    </form>
    <h5>Comments:</h5>
    {{#each post.comments}}
      <p>{{this.content}}</p>
    {{/each}}
  </div>
</div>
